<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="top">
			<h1
				style="color: white; vertical-align: middle; font-family: sans-serif;">Welcome
				to IDM</h1>
		</ui:define>
		<ui:define name="left">

		</ui:define>
		<ui:define name="content">

			<h2 style="text-align: top;">Login</h2>

			<h3 style="text-align: top;color: red;">Invalid Credentials</h3>

			<h:form>

				<p:accordionPanel>

					<p:tab title="User Login">
						<p:panelGrid columns="2" cellpadding="10">
							<p:outputLabel value="UserName" />
									<p:inputText id="userName"
									value="#{credentials.username}" />
							<p:outputLabel value="Password" />
							<p:password id="password" required="true"
								value="#{credentials.password}" />		
								
						</p:panelGrid>
					</p:tab>

				</p:accordionPanel>
				
				<p:commandButton value="Submit" action="#{loginUser.execute}" />
				
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>