<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="default.css" />
	<link rel="stylesheet" href="css/default.css" type="text/css" />
	<h:outputStylesheet library="css" name="cssLayout.css" />

	<link rel="stylesheet" media="screen" href="css/styles.css"
		type="text/css" />
	<link rel="stylesheet" media="print" href="css/print.css"
		type="text/css" />
	<link rel="stylesheet" media="(max-width: 800px)" href="css/print.css"
		type="text/css" />
		<script src="script.js"></script>
	<title><ui:insert name="title">Welcome to IDM</ui:insert></title>
</h:head>

<h:body>
	<div id="top">
		<ui:insert name="top">Top Section</ui:insert>
	</div>
	<div>
		<div id="left">
			<ui:insert name="left">Left Section</ui:insert>
		</div>
		<div id="content" class="left_content">

			<ui:insert name="content">Main Content</ui:insert>
		</div>

	</div>
	<div id="bottom" class="bottom">
		<h:form>
			<ui:insert name="bottom">
			
			<table width="100%">
				<tr>
					<td><p:outputLabel style="color: white;" value="© Copyright 2020 scim.idm.com" /></td>
					<td></td>
				</tr>
				
				<tr>
					<td><h:link style="color: white;" outcome="privacy" value="Privacy policy and terms of use" /></td>
					<td align="right"><p:link style="color: white;" value="Contact Us" outcome="contactUs" /></td>
				</tr>
			
			</table>
				  <!-- <p:outputLabel style="color: white;" value="© Copyright 2020 scim.idm.com" />
					<br />
					<h:link style="color: white;" outcome="privacy" value="Privacy policy and terms of use" />
					<br />
				<p:link style="color: white;" value="Contact Us" outcome="contactUs" /> -->
			</ui:insert>
		</h:form>
	</div>
	<!-- <div class="printonly">
			<p:outputLabel value="Printed from scim.idm.com" />
		</div> -->


</h:body>
</html>