<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="top">
			<h1	style="color: white; vertical-align: middle; font-family: sans-serif;">Welcome to IDM</h1>
			<h:link id="home" value="Home" outcome="index" />
			<h:link id="admin" class="active" value="Administration" outcome="admin" />
			<h:link id="contact" value="Contact" outcome="contactUs" />
			<h:link id="about" value="About" outcome="about" />
			<p:remoteCommand name="logoutExecute" action="#{loginUser.logout}"/>
			<h:link id="logout" value="logout" onclick="logoutExecute()" outcome="login"/>
		</ui:define>
		<ui:define name="left">
			<h:link value="Add User" outcome="addUser" />
			<h:link value="Search User" outcome="searchUser" />
			<h:link class="active" value="Update User" outcome="updateUser" />
			<h:link value="Delete User" outcome="deleteUser" />
		</ui:define>
		<ui:define name="content">

			<h2 style="text-align: top;">Update User</h2>
			<h:form>
				<p:panelGrid columns="3" cellpadding="10">
					<p:outputLabel value="Enter First Name:" />
					<p:inputText id="searchFilter" value="#{user.firstName}" />
					<p:commandButton value="Submit" action="#{searchUser.execute}"
						ajax="false" />
				</p:panelGrid>
			</h:form>
			<h:form>
				<p:accordionPanel>
					<p:tab title="User Profile">
						<p:panelGrid columns="2" cellpadding="10">
							<p:outputLabel value="First Name" />
							<p:inputText id="firstName" required="true"
								value="#{user.firstName}" />
							<p:outputLabel value="Last Name" />
							<p:inputText id="lastName" required="true"
								value="#{user.lastName}" />
								<p:outputLabel value="UserName" />
								<p:inputText id="userName" readonly="true"
								value="#{user.userName}" />
							<p:outputLabel value="Date of Birth" />
							<p:calendar id="button" value="#{user.dob}" showOn="button" />
							<p:outputLabel value="Email" />
							<p:inputText id="email" required="true" value="#{user.email}" />
						</p:panelGrid>
					</p:tab>
					<p:tab title="User Role">
						<p:panelGrid columns="2" cellpadding="10">
							<p:outputLabel value="Role" />
							<p:selectOneMenu id="role" value="#{user.role}" style="width:125px">
									<f:selectItem itemLabel="User" itemValue="user" />
									<f:selectItem itemLabel="Admin" itemValue="admin" />
									<f:facet name="footer">
										<p:separator />
										<h:outputText value="2 roles" style="font-weight:bold;" />
									</f:facet>
							</p:selectOneMenu>
						</p:panelGrid>
					</p:tab>
					<p:tab title="Contact">
						<p:panelGrid columns="2" cellpadding="10">
							<p:outputLabel value="Address" />
							<p:inputTextarea id="address" value="#{user.address}" />
							<p:outputLabel value="Mobile" />
							<p:inputText id="mobile" value="#{user.mobile}" />
						</p:panelGrid>
					</p:tab>
				</p:accordionPanel>
				<br />

				<p:commandButton value="Update User" action="#{updateUser.execute}" />
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>